@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /*:root {*/
    /*    --background:0, 0%, 15%;*/
    /*    --primary-section:0, 0%, 25%;*/
    /*    --secondary-section:0, 0%, 32%;*/
    /*    --primary-text:0, 0%, 90%;*/
    /*    --secondary-text: 0, 0%, 64%;*/
    /*    --primary-accent:38, 92%, 50%;*/
    /*    --secondary-accent:43, 96%, 56%;*/
    /*    --confirm:224, 76%, 48%;*/
    /*    --dangerous:0, 72%, 51%;*/
    /*    --shadow:0, 0%, 4%;*/
    /*}*/
    .dark {
        --background:0, 0%, 15%;
        --primary-section:0, 0%, 25%;
        --secondary-section:0, 0%, 32%;
        --primary-txt:0, 0%, 90%;
        --secondary-txt: 0, 0%, 64%;
        --secondary-accent:38, 92%, 50%;
        --primary-accent:32, 95%, 44%;
        --confirm:224, 76%, 48%;
        --dangerous:0, 72%, 51%;
        --shadow:0, 0%, 4%;
    }
}
